<a href="https://colab.research.google.com/github/Ravin-Bandara/ML_Projects/blob/main/KC_Housing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
kc_file_path = 'kc_house_data.csv'

In [ ]:
kc_housing_data = pd.read_csv('kc_house_data.csv')

In [ ]:
kc_housing_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
y = kc_housing_data.price

In [ ]:
kc_housing_features = ['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'lat', 'long']

In [ ]:
X = kc_housing_data[kc_housing_features]

In [ ]:
X.describe()

           bedrooms     bathrooms  ...           lat          long
count  21613.000000  21613.000000  ...  21613.000000  21613.000000
mean       3.370842      2.114757  ...     47.560053   -122.213896
std        0.930062      0.770163  ...      0.138564      0.140828
min        0.000000      0.000000  ...     47.155900   -122.519000
25%        3.000000      1.750000  ...     47.471000   -122.328000
50%        3.000000      2.250000  ...     47.571800   -122.230000
75%        4.000000      2.500000  ...     47.678000   -122.125000
max       33.000000      8.000000  ...     47.777600   -121.315000

[8 rows x 6 columns]

In [ ]:
X.head()

   bedrooms  bathrooms  sqft_living  floors      lat     long
0         3       1.00         1180     1.0  47.5112 -122.257
1         3       2.25         2570     2.0  47.7210 -122.319
2         2       1.00          770     1.0  47.7379 -122.233
3         4       3.00         1960     1.0  47.5208 -122.393
4         3       2.00         1680     1.0  47.6168 -122.045

In [ ]:
from sklearn.tree import DecisionTreeRegressor
kc_housing_model = DecisionTreeRegressor(random_state=1)
kc_housing_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(kc_housing_model.predict(X.head()))

Making predictions for the following 5 houses:
   bedrooms  bathrooms  sqft_living  floors      lat     long
0         3       1.00         1180     1.0  47.5112 -122.257
1         3       2.25         2570     2.0  47.7210 -122.319
2         2       1.00          770     1.0  47.7379 -122.233
3         4       3.00         1960     1.0  47.5208 -122.393
4         3       2.00         1680     1.0  47.6168 -122.045
The predictions are
[221900. 538000. 180000. 604000. 510000.]

In [ ]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X,y,random_state=1)

In [ ]:
#specify model
kc_housing_model = DecisionTreeRegressor(random_state=1)

# Fit kc_housing_model with the training data.
kc_housing_model.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
val_predictions = kc_housing_model.predict(val_X)

In [ ]:
#print top few validation predictions
print(val_predictions)

[445000. 390000. 250000. ... 780000. 197500. 305000.]

In [ ]:
print(val_y)

15544     459000.0
17454     445000.0
21548    1057000.0
3427      732350.0
8809      235000.0
           ...
12416     680000.0
8253      267500.0
4251      725000.0
11404     253500.0
13206     324950.0
Name: price, Length: 5404, dtype: float64

In [ ]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_predictions, val_y)

print(val_mae)

117521.31772760917

In [ ]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [ ]:
# Write loop to find ideal tree size from candidate_max_leaf_nodes

for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  155523
Max leaf nodes: 50  		 Mean Absolute Error:  110805
Max leaf nodes: 500  		 Mean Absolute Error:  102305
Max leaf nodes: 5000  		 Mean Absolute Error:  113240

In [ ]:
best_tree_size = 500

In [ ]:
# Fill in argument to make optimal size 
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=1)
final_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=500,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
kc_housing_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, kc_housing_preds))

85720.76746107823

In [ ]:
kc_model = RandomForestRegressor()

#fit model
kc_model.fit(train_X, train_y)

#Calculate mean absolute error of Random Forest model on the validation data
kc_val_predictions = kc_model.predict(val_X)
kc_val_mae = mean_absolute_error(kc_val_predictions, val_y)

print("Validation MAE for Random Forest Model: {}".format(kc_val_mae))

Validation MAE for Random Forest Model: 85956.55464030466